@model IEnumerable<ClickApp.ViewModels.OfferViewModel>

@{
    ViewData["Title"] = "Offers";
    bool IsProffesional = true;
    bool IsNotProffesional = false;
}
@section Styles{
    <link rel="stylesheet" href="~/css/OffersOverview.css" />
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success m-3" role="alert">
        @ViewBag.SuccessMessage
    </div>
}


@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger m-3" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<div class="container" id="offerOptionsContainer">
    <div class="row justify-content-center ">
        <div class="col-md-5 text-center">
            <a asp-action="GetAllWithFilter" asp-route-isProffesional="@IsProffesional"><img class="offerOptionImg shadow" src="https://thumbs.dreamstime.com/b/businessman-shows-business-card-message-ask-expert-professional-counseling-support-solution-concept-businessman-212804262.jpg" @*onclick="showProfessionalOffers()"*@ /></a>
            <h2>Professionals</h2>
        </div>
        <div class="col-md-5 text-center">
            <a asp-action="GetAllWithFilter" asp-route-isProffesional="@IsNotProffesional"><img class="offerOptionImg shadow" src="https://www.careeraddict.com/uploads/article/59099/illustration-man-suit.jpg" @*onclick="showAmateurOffers()"*@ /></a>
            <h2>Friends</h2>
        </div>
    </div>
</div>