.offerOptionImg {
    width: 350px;
    height: 350px;
    border-radius: 10px;
}


.offerCard {
    width: 300px;
    transition: ease-out width 1s, ease-out background-color 1s;
}

    .offerCard:hover {
        width: 350px;
        background-color: gray;
        padding: 0px;
    }

.offerImg {
    height: 150px;
    width: 150px;
}

