@model ClickApp.ViewModels.EditUserViewModel

@using ClickApp.Services.Interfaces;
@using ClickApp.Mappings;
@using ClickApp.ViewModels;
@using System.Collections.Generic;


@inject ISkillsService _skillsService;
@inject IUserSkillsService _userSkillsService;




@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h1>Edit about info</h1>

    <hr />
    <div class="row justify-content-center bg-light">
        <div class="col-md">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" class="form-control" hidden />
                    <input asp-for="DateOfBirth" class="form-control" hidden />
                </div>
                <div>
                    <div class="row">
                        <div class="form-group col">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" cols="20" rows="10"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div>
                    <div class="row justify-content-around">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Country" class="control-label"></label>
                            <input asp-for="Country" class="form-control" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProfilePhotoURL" class="control-label"></label>
                    <input asp-for="ProfilePhotoURL" class="form-control" />
                    <span asp-validation-for="ProfilePhotoURL" class="text-danger"></span>
                </div>
                <div class="row form-group justify-content-center">
                    <input type="submit" value="Save" class="btn btn-primary" style="background-color: #C5E2EE; color:black"/>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row justify-content-center m-2">
    <a class="btn btn-success" asp-action="Details" style="background-color: #CAF7B8; color:black">Back to Profile</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

