@model ClickApp.ViewModels.CreateCarpoolOfferViewModel

@{
    ViewData["Title"] = "Create carpool offer";
}

<div class="container">
    <h4>Create Carpool Offer</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="LeavingFrom" class="control-label">Leaving from</label>
                    <input asp-for="LeavingFrom" class="form-control" />
                    <span asp-validation-for="LeavingFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArrivingAt" class="control-label">Arriving destination</label>
                    <input asp-for="ArrivingAt" class="form-control" />
                    <span asp-validation-for="ArrivingAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="LeavingHour">Hour</label>
                    <select asp-for="LeavingHour" class="form-control" required>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="LeavingMinutes">Minutes</label>
                    <select asp-for="LeavingMinutes" class="form-control" required>
                        <option value="0">0</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="35">35</option>
                        <option value="40">40</option>
                        <option value="45">45</option>
                        <option value="50">50</option>
                        <option value="55">55</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="SeatsAvailable" class="control-label"></label>
                    <input asp-for="SeatsAvailable" class="form-control" />
                    <span asp-validation-for="SeatsAvailable" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LeavingNote" class="control-label"></label>
                    <input asp-for="LeavingNote" class="form-control" />
                    <span asp-validation-for="LeavingNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReturnFrom" class="control-label"></label>
                    <input asp-for="ReturnFrom" class="form-control" value="" />
                    <span asp-validation-for="ReturnFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReturnAt" class="control-label"></label>
                    <input asp-for="ReturnAt" class="form-control" value="" />
                    <span asp-validation-for="ReturnAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="ReturnHour">Hour</label>
                    <select asp-for="ReturnHour" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="ReturnMinutes">Minutes</label>
                    <select asp-for="ReturnMinutes" class="form-control">
                        <option value="0">0</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                        <option value="35">35</option>
                        <option value="40">40</option>
                        <option value="45">45</option>
                        <option value="50">50</option>
                        <option value="55">55</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="ReturnSeatsAvailable" class="control-label"></label>
                    <input asp-for="ReturnSeatsAvailable" class="form-control" value="0" />
                    <span asp-validation-for="ReturnSeatsAvailable" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReturnNote" class="control-label"></label>
                    <input asp-for="ReturnNote" class="form-control" value="" />
                    <span asp-validation-for="ReturnNote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Overview">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
